#**EDA Advanced Assignment - 3 by Siddharth Sharma**

## Maximum Product of Two Elements in an Array

In [54]:
nums = list(map(int, input().split()))

def maxProduct(nums):
    nums.sort()
    return (nums[-1] - 1) * (nums[-2] - 1)

maxProduct(nums)

3 4 5 2

12

## Count Number of Teams

In [55]:
r = list(map(int,input().split()))

def count_valid_team(r):
  count = 0
  for i in range(len(r)):
    for j in range(i+1,len(r)):
      for k in range(j+1,len(r)):
        if (r[i]>r[j] and r[j]>r[k]) or (r[i]<r[j] and r[j]<r[k]):
          count += 1
  return count

count_valid_team(r)

4 5 9 3 1

4

## Number of Students Doing Homework at a Given Time

In [59]:
startTime = list(map(int,input().split()))
endTime = list(map(int,input().split()))
queryTime = int(input())

def busyStudent(startTime, endTime, queryTime):
    count = 0
    for start, end in zip(startTime, endTime):
        if start <= queryTime <= end:
            count += 1
    return count

busyStudent(startTime,endTime,queryTime)

3 4 6
7 4 8
5

1

## Number of Steps to Reduce a Number to Zero

In [60]:
num = int(input())

def numberOfSteps(num):
    output=0
    while num>0:
        if num%2!=0:
            num-=1
            output+=1
        else:
            num=num/2
            output+=1
    return output

numberOfSteps(num)

14

6

## Counting Bits

In [61]:
n = int(input())

def countBits(n):
    a = []
    for i in range(0,n+1):
        a.append(bin(i).count("1"))
    return a

countBits(n)

2

[0, 1, 1]